<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dailytask" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_propic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyTask" >
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.DailyTask.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NavigationDrawer"
            android:exported="true"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.DailyTask.NoActionBar" >

        </activity>
        <activity
            android:name=".AggiungiEvento"
            android:exported="false" />
        <activity
            android:name=".ImpostazioniActivity"
            android:exported="false" />
        <activity
            android:name=".EventiActivity"
            android:exported="false" />
        <activity
            android:name=".OrarioScuolaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
        </activity>
    </application>

</manifest>